.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #263238;
}

.search_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    align-items: center;
}

.searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    width: 300px;
    background-color: #c0c0c0;
    padding: 5px;
    margin: 5px;
}